<div class="card">
    <div class="card-tittle" #heading>{{ element.name }}</div>
    <div class="card-body">
        <!-- <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'" style="color: blue">{{ element.content }}</em>
        </p> -->
        <ng-content></ng-content>
    </div>
</div>