<div class="row">
    <div class="col-sm">
        <p>Add New Servers</p>
        <label>Server Name</label>
        <!-- <input type="text" class="form-control" name="newServerName" [(ngModel)]="newServerName"> -->
        <input type="text" class="form-control" name="newServerName" #serverNameInput>
        <label>Server Content</label>
        <!-- <input type="text" class="form-control" name="newServerContent" [(ngModel)]="newServerContent"> -->
        <input type="text" class="form-control" name="newServerContent" #serverContentInput>
        <br>
        <button class="btn btn-primary" (click)="onAddServer(serverNameInput)">Add Server</button>
        <button class="btn btn-primary" (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
    </div>
</div>