<div class="row">
    <div class="col">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <button type="submit" [disabled]="!recipeForm.valid" class="btn btn-success">Save</button>
                    <button type="reset" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="name">Name :</label>
                        <input [class.is-invalid]="recipeForm.get('name').invalid" formControlName="name" type="text" id="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="imagePath">Image URL :</label>
                        <input formControlName="imagePath" type="text" id="imagePath" class="form-control" #imagePath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="{{ imagePath.value }}" class="img-responsive" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="description">Description :</label>
                        <textarea formControlName="description" type="text" id="description" class="form-control" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" formArrayName="ingredients">
                    <div class="row my-3" *ngFor="let ingredient of recipeForm.get('ingredients').controls; let i=index" [formGroupName]="i">
                        <div class="col">
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" formControlName="amount">
                        </div>
                        <div class="col">
                            <button class="btn btn-danger" type="button" (click)="onDeleteIngredient(i)">X</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-success my-3" (click)="onAddIngredient()">Add Ingredient</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>