<div class="row">
    <div class="col-xs-12">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage Recipe
              </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" style="cursor: pointer" (click)="onAddToShoppingList()">To Shopping List</a>
                <a class="dropdown-item" style="cursor: pointer" (click)="onEditRecipe()">Edit Recipe</a>
                <a class="dropdown-item" style="cursor: pointer" (click)="onDeleteRecipe()">Delete Recipe</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ recipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }} --- {{ ingredient.amount }}</li>
        </ul>
    </div>
</div>