<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink='/'>Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink='/' routerLinkActive='active'>Core</a>
            <a class="nav-item nav-link" routerLink='/recipes' routerLinkActive='active'>Recipe Book</a>
            <a class="nav-item nav-link" routerLink='/shopping-list' routerLinkActive='active'>Shopping List</a>
        </div>
    </div>
</nav>