<div class="container">
    <app-cockpit (serverCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
    <div class="row">
        <div class="col-sm">
            <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy</button>
            <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement">
                <p #serverContentPara>
                    <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
                    <em *ngIf="serverElement.type === 'blueprint'" style="color: blue">{{ serverElement.content }}</em>
                </p>
            </app-server-element>
        </div>
    </div>
</div>