<div class="container">
    <button class="btn btn-primary" (click)="onClick()">Change Status</button>

    <h4>Ng-Style</h4>
    <p [ngStyle]="{'color': getColor()}">Your are {{ status }}</p>

    <h4>Ng-Class</h4>
    <small [ngClass]="{'text-success': isOnline}">Dynamic css class applied</small>

    <h4>Ng-If Directive</h4>
    <p *ngIf="isOnline; else offline">You can receive sms now</p>
    <ng-template #offline>
        <p>You can't receive sms</p>
    </ng-template>

    <h4>Ng-For Directive</h4>
    <p>Your Friend List</p>
    <ul>
        <li *ngFor="let friend of friends; let i = index">{{ i + 1 }}. {{ friend }}</li>
    </ul>
    <h3>Custom Directive</h3>
    <p appBasicHighLight>basic Highlight directive</p>
    <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Better Highlight directive</p>
    <p *ngIf="isOnline">You are Online</p>
    <p *appUnless="isOnline">You are offline now</p>
</div>