<div class="row">
    <div class="col-sm">
        <button (click)="onNewRecipe()" class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <app-recipe-item *ngFor="let recipe of recipes; let i = index" [recipe]="recipe" [index]="i"></app-recipe-item>
    </div>
</div>