<div class="row">
    <div class="col-sm">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control" ngModel required>
                </div>
                <div class="col-sm-5 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" name="amount" id="amount" class="form-control" required pattern="^[1-9]+[0-9]*$" ngModel>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <button class="btn btn-success mx-3" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
                    <button class="btn btn-danger mx-3" type="button" [disabled]="!editMode" (click)="onDelete()">Delete</button>
                    <button class="btn btn-secondary mx-3" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>