<div class="row">
    <a class="col" routerLink='/core/directives' routerLinkActive='active'>Directives</a>
    <a class="col" routerLink='/core/property-binding' routerLinkActive='active'>Property Binding</a>
</div>

<router-outlet></router-outlet>